.form-admin {
   display: flex;
   flex-direction: column;

   input, textarea {
      @extend %elementos-form-input;
   }

   textarea {
      height: 30em;
      resize: none;
   }

   input[type='submit'] {
      @extend %elementos-form-submit
   }
}