.formAdmin {
   display: flex;
   flex-direction: column;

   input, textarea, select {
      @extend %elementosForm;
   }

   textarea {
      height: 25em;
      resize: none;
   }

   input[type='submit'] {
      @extend %elementosFormSubmit;
   }
}