
.container-post {
   cursor: pointer;
}

.container-post:hover .titulo {
   color: $cor-principal;
   transition: .3s;
}

.post .titulo {
   @extend %fonte-titulo;
}

.post .paragrafo {
   @extend %fonte-auxiliar;
   text-align: justify;
}

.post a {
   text-decoration: none;
   color: $cor-texto;
}

.post hr {
   @include linha(0);
}

.rodape-post {
   @extend %fonte-mini;
   margin-top: 1.3em;
}

