
.container-post {
   cursor: pointer;

   &:hover .titulo-post {
      
      color: $corPrimaria;
      transition: .2s;
      cursor: pointer;
   }
}

.post .titulo-post {
   @extend %fonte-titulo;
}

.post .paragrafo-post {
   @extend %fonte-padrao;
   text-align: justify;
}

.post a {
   text-decoration: none;
   color: $corPadraoTexto;
}

.post hr {
   @include linha(4%, 0);
}

.rodape-post {
   @extend %fonte-mini;
   margin-top: 1.3em;
}

