
.containerPost {
   cursor: pointer;

   &:hover .tituloPost {
      
      color: $corPrimaria;
      transition: .2s;
      cursor: pointer;
   }
}

.post .tituloPost {
   @extend %titulo;
}

.post .paragrafoPost {
   @extend %conteudo;
   text-align: justify;
}

.post a {
   text-decoration: none;
   color: $corPadraoTexto;
}

.post hr {
   @include linha(4%, 0);
}

.rodapePost {
   @extend %miniConteudo;
   margin-top: 1.3em;
}

