

.main p {
   @include fonte-auxiliar;
}

ul.tecnologias {
   margin: 10px 0;
   font-size: .8em;
}

.main li {
   height: 20px;
   margin: 2px 0;

   &.principal {
      text-transform: uppercase;
      margin: 10px 0 10px 0;
      border: 1px solid $cor-linha;
      border-radius: 4px;
      display: inline-block;
      padding: 5px 10px 0;
      font-weight: 300;
   
      &:hover .nivel {
         transition: .5s;
         color: $cor-principal;
      }
   
      .nivel {
         color: $cor-texto;
         margin-left: 10px;
      }
   }

   &.secundario {
      margin-left: 20px;
      font-weight: 300
   }
}