
body, html {
   height: 100%;
}

// * {
   // box-shadow: 0 0 1px #aaa;
// }

.main {
   position: absolute;
   z-index: 0;
   width: calc(100% - #{$larguraPerfil});
   top: 7.5%;
   right: 0;
   padding: 0 7%;
   box-sizing: border-box;

   @media (max-width: #{$responsivo}) {
      width: calc(100% - 40px);
   }
}

.fotoPerfil {
   width: 100%;
   border-radius: 50%;
   margin-bottom: 20px;
}

hr {
   @include linha(5%, auto);
}

.controles {
   position: absolute;
   width: 15%;
   height: 100%;
   right: -15%;

   display: flex;
   justify-content: flex-end;
   align-items: center;
   
   .botoesControles {
      height: 85%;
      
      i {
         cursor: pointer;
         color: $corClara;
         font-size: $tamanhoFonteGrande;
   
         &:hover {
            color: $corPrimaria;
            transition: .3s;
         }

         &.botaoMenu {
            display: none;

            @media (max-width: #{$responsivo}) {
               display: block;
            }
         }
      }
   }
}