

.leitura .titulo-leitura {
   @extend %titulo;
}

.leitura .paragrafo-leitura {
   @extend %conteudo;
   margin-top: 1em;
   text-align: justify;
   white-space: pre-wrap;
}

span.data-leitura {
   @extend %miniConteudo;
}

