

.leitura .titulo-leitura {
   @extend %fonte-titulo;
}

.leitura .paragrafo-leitura {
   @extend %fonte-auxiliar;
   margin-top: 1em;
   text-align: justify;
   white-space: pre-wrap;
   color: $cor-texto;
}

span.data-leitura {
   @extend %fonte-mini;
}

.btn-voltar {
   position: fixed;
   left: calc(50px + #{$largura-perfil});
   top: 48px;
   font-size: $font-grande;
   color: $cor-linha;
   cursor: pointer;
   padding: 5px;

   &:hover {
      color: $cor-principal;
      transition: .3s;
   }
}

