
.titulo-sobre {
   @extend %fonte-titulo;
   text-align: center;
}

.paragrafo-sobre {
   @extend %fonte-auxiliar;
   text-align: justify;
}

.foto-perfil.sobre {
   animation: foto .5s;
   transform: rotate(0deg);
   border: $border;
   
   filter: saturate(.8) !important ;
}


@keyframes foto {
   20% {
      transform: rotate(5deg);
   }
   40% {
      transform: rotate(-5deg);
      box-shadow: 2px 2px 5px #777;
   }
   60% {
      transform: rotate(5deg);
      box-shadow: 3px 3px 5px #999;
   }
   80% {
      transform: rotate(-5deg);
      box-shadow: 2px 2px 5px #777;
   }
   100% {
      transform: rotate(0deg);
   }
}

.texto-link-competencia {
   @extend %fonte-auxiliar;
   font-weight: 400;
}

.btn-competencia {
   padding: 5px;
   border: $border;
   border-radius: 4px;
   text-decoration: none;
   color: $cor-texto;

   &:hover {
      border: $border-hover;
      transition: .3s;
   }
}
