
.titulo-sobre {
   @extend %titulo;
   text-align: center;
}

.paragrafo-sobre {
   @extend %conteudo;
   text-align: justify;
}

.foto-perfil.sobre {
   animation: foto .5s;
   transform: rotate(0deg);
   border: $border;
   
   filter: saturate(.8) !important ;
}


@keyframes foto {
   20% {
      transform: rotate(5deg);
   }
   40% {
      transform: rotate(-5deg);
      box-shadow: 2px 2px 5px #777;
   }
   60% {
      transform: rotate(5deg);
      box-shadow: 3px 3px 5px #999;
   }
   80% {
      transform: rotate(-5deg);
      box-shadow: 2px 2px 5px #777;
   }
   100% {
      transform: rotate(0deg);
   }
}

