
.tituloSobre {
   @extend %titulo;
   text-align: center;
}

.paragrafoSobre {
   @extend %conteudo;
   text-align: justify;
}

.fotoPerfil.sobre {
   animation: fotoPerfil .5s;
   transform: rotate(0deg);
}

@keyframes fotoPerfil {
   20% { transform: rotate(6deg) }
   40% {
      transform: rotate(-8deg);
      box-shadow: 2px 2px 5px #000;
   }
   60% {
      transform: rotate(13deg);
      box-shadow: 5px 5px 8px #000;
   }
   80% {
      transform: rotate(-8deg);
      box-shadow: 2px 2px 5px #000;
   }
   100% { transform: rotate(0deg) }
}

