.main {
   position: absolute;
   width: calc(100% - 300px);
   top: 7.5%;
   right: 0;
   padding: 0 8%;
   box-sizing: border-box;
   color: #222;
}

.main p {
   line-height: 1.5em;
}

main hr {
   width: 30%;
   border: none;
   border-top: 1px solid #eeee;
   margin: 5% auto;
}

.main li.principal {
   text-transform: uppercase;
   margin: 10px 0 10px 0;
   border: 1px solid #eee;
   border-radius: 4px;
   display: inline-block;
   padding: 5px 10px 0;
   font-weight: 300;
}

.main li.principal:hover .nivel {
   transition: .5s;
   color: #00bb9c;
}

.main li {
   height: 20px;
   margin: 2px 0;
}

.main li.secundario {
   margin-left: 20px;
   font-weight: 300
}

.nivel {
   color: #222;
   margin-left: 10px;
}

ul.tecnologias {
   margin: 10px 0;
   font-size: .8em;
}

