.main {
   position: absolute;
   width: calc(100% - 300px);
   top: 7.5%;
   right: 0;
   padding: 0 8%;
   box-sizing: border-box;
}

.leitura .titulo-leitura {
   font-size: 1.3em;
   margin-bottom: 1em;
}

.leitura .paragrafo-leitura {
   margin-bottom: 1em;
   line-height: 1.5em;
   text-align: justify;
}