$Relaway: 'Raleway', sans-serif;
$Roboto: 'Roboto Slab', sans-serif;

$tamanhoFontePadrao: 1em;
$tamanhoFonteGrande: 1.5em;

$corPrimaria: #00bb9c;
$corPadraoTexto: #444;
$corClara: #ccc;
$border: 1px solid $corClara;
$borderHover: 1px solid $corPrimaria;
$textoPerfil: #eee;

$larguraPerfil: 320px;
$responsivo: "768px";

%titulo {
   font-family: $Roboto;
   font-size: $tamanhoFonteGrande;
   font-weight: 600;
   margin-bottom: 1em;
   color: $corPadraoTexto;
}

%conteudo {
   font-family: $Roboto;
   font-size: $tamanhoFontePadrao;
   font-weight: 300;
   line-height: 1.3em;
   color: $corPadraoTexto;
}

%miniConteudo {
   font-family: $Roboto;
   color: $corClara;
   font-size: .8em;
   font-weight: 300;
}

%elementosForm {
   height: 3em;
   margin: .2em 0;
   padding: 10px;
   box-sizing: border-box;
   border: $border;
   outline: 0;
   border-radius: 4px;
   font-family: $Roboto;
   font-weight: 300;

   &:focus {
      border: $borderHover;
   }
}

%elementosFormSubmit {
   display: flex;
   align-items: center;
   justify-content: center;
   border: $border;
   background: transparent;

   &:hover {
      color: #fff;
      background: $corPrimaria;
      border: 0;
      transition: .3s;
      cursor: pointer;
   }
}

@mixin linha($vertical, $horizontal) {
   width: 20%;
   border: none;
   border-top: 1px dotted $corClara;
   margin: $vertical $horizontal;
}