$Montserrat: 'Montserrat', sans-serif;
$Relaway: 'Raleway', sans-serif;

$tamanhoFontePadrao: 1em;
$tamanhoFonteGrande: 1.3em;

$corPrimaria: #00bb9c;
$corPadraoTexto: #444;
$corLinha: #ddd;
$border: 1px solid $corLinha;
$borderHover: 1px solid $corPrimaria;

$largura-perfil: 300px;

$responsivo: "980px";

%fonte-titulo {
   font-family: $Montserrat;
   font-size: $tamanhoFonteGrande;
   font-weight: 500;
   margin-bottom: 1em;
   color: $corPadraoTexto;
}

%fonte-auxiliar {
   font-family: $Relaway;
   font-size: $tamanhoFonteGrande;
   font-weight: 500;
   margin-bottom: 1em;
   color: $corPadraoTexto;
}

%fonte-padrao {
   font-family: $Relaway;
   font-size: $tamanhoFontePadrao;
   font-weight: 300;
   line-height: 1.3em;
   color: $corPadraoTexto;
}

%fonte-mini {
   font-family: $Montserrat;
   color: #aaa;
   font-size: .8em;
   font-weight: 300;
}

%elementos-form {
   height: 3em;
   margin: .2em 0;
   padding: 10px;
   box-sizing: border-box;
   border: $border;
   outline: 0;
   border-radius: 4px;
   font-family: $Montserrat;
   font-weight: 300;

   &:focus {
      border: $borderHover;
   }
}

%color-hover {
   &:hover {
      color: $corPrimaria;
      transition: .2s;
      cursor: pointer;
   }
}

%elementos-form-submit {
   display: flex;
   align-items: center;
   justify-content: center;
   border: $border;
   background: transparent;

   &:hover {
      color: #fff;
      background: $corPrimaria;
      border: 0;
      transition: .3s;
      cursor: pointer;
   }
}

@mixin linha($altura, $posicao) {
   width: 20%;
   border: none;
   border-top: 1px dotted $corLinha;
   margin: $altura $posicao;
}