.leitura .titulo-leitura, .titulo-sobre, .titulo-contato, .post .titulo-post {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1em;
  color: #444;
}

.perfil h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1em;
  color: #444;
}

.leitura .paragrafo-leitura, .paragrafo-sobre, .post .paragrafo-post, .perfil span {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3em;
  color: #444;
}

span.data-leitura, .rodape-post {
  font-family: "Montserrat", sans-serif;
  color: #aaa;
  font-size: 0.8em;
  font-weight: 300;
}

.form-admin input, .form-admin textarea, .form-admin select, .form-contato input, .form-contato textarea {
  height: 3em;
  margin: 0.2em 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  outline: 0;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.form-admin input:focus, .form-admin textarea:focus, .form-admin select:focus, .form-contato input:focus, .form-contato textarea:focus {
  border: 1px solid #00bb9c;
}

.perfil ul.social i:hover {
  color: #00bb9c;
  transition: 0.2s;
  cursor: pointer;
}

.form-admin input[type=submit], .form-contato input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background: transparent;
}
.form-admin input[type=submit]:hover, .form-contato input[type=submit]:hover {
  color: #fff;
  background: #00bb9c;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  height: 100%;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  top: 7.5%;
  right: 0;
  padding: 0 8%;
  box-sizing: border-box;
}
@media (max-width: 980px) {
  .main {
    width: calc(100% - 50px);
  }
}

.foto-perfil {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  filter: saturate(0);
}

hr {
  width: 20%;
  border: none;
  border-top: 1px dotted #ddd;
  margin: 5% auto;
}

.controles {
  position: absolute;
  width: 25%;
  height: 100%;
  right: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controles .botoes {
  height: 85%;
}
.controles .botoes i {
  cursor: pointer;
  color: #444;
  font-size: 1.3em;
}
.controles .botoes i:hover {
  color: #00bb9c;
  transition: 0.3s;
}
.controles .botoes i.btn-menu {
  display: none;
}
@media (max-width: 980px) {
  .controles .botoes i.btn-menu {
    display: block;
  }
}

.perfil {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  background-image: url("../imagens/bg-perfil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
@media (max-width: 980px) {
  .perfil {
    transform: translateX(-300px);
  }
}

.container-perfil {
  width: 80%;
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foto-perfil.home {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  filter: saturate(0);
}

.perfil h2 {
  margin-bottom: 1.5em;
}

.perfil span {
  text-align: center;
}

.perfil nav ul {
  text-align: center;
}
.perfil nav ul li {
  padding: 5px;
  margin: 5px;
}
.perfil nav ul li a {
  text-decoration: none;
  color: #444;
  font-weight: 300;
}
.perfil nav ul li a.ativo {
  background: #00bb9c;
  color: #fff;
  padding: 5px 30px;
  border-radius: 6px;
  font-weight: 300;
}

.perfil hr {
  width: 20%;
  border: none;
  border-top: 1px dotted #ddd;
  margin: 10% 0;
}

.perfil ul.social {
  display: flex;
}
.perfil ul.social i {
  font-size: 1.3em;
  margin: 13px;
  color: #888;
}
.container-post {
  cursor: pointer;
}
.container-post:hover .titulo-post {
  color: #00bb9c;
  transition: 0.2s;
  cursor: pointer;
}

.post .paragrafo-post {
  text-align: justify;
}

.post a {
  text-decoration: none;
  color: #444;
}

.post hr {
  width: 20%;
  border: none;
  border-top: 1px dotted #ddd;
  margin: 4% 0;
}

.rodape-post {
  margin-top: 1.3em;
}

.titulo-contato {
  text-align: center;
}

.form-contato {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.form-contato textarea {
  height: 10em;
  resize: none;
}
.titulo-sobre {
  text-align: center;
}

.paragrafo-sobre {
  text-align: justify;
}

.foto-perfil.sobre {
  animation: foto 0.5s;
  transform: rotate(0deg);
  border: 1px solid #ddd;
  filter: saturate(0.8) !important;
}

@keyframes foto {
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
    box-shadow: 2px 2px 5px #777;
  }
  60% {
    transform: rotate(5deg);
    box-shadow: 3px 3px 5px #999;
  }
  80% {
    transform: rotate(-5deg);
    box-shadow: 2px 2px 5px #777;
  }
  100% {
    transform: rotate(0deg);
  }
}
.leitura .paragrafo-leitura {
  margin-top: 1em;
  text-align: justify;
  white-space: pre-wrap;
}

.form-admin {
  display: flex;
  flex-direction: column;
}
.form-admin textarea {
  height: 25em;
  resize: none;
}

/*# sourceMappingURL=estilo.css.map */
